<!-- templates/phonebook.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전화번호부</title>
</head>
<body>
    <h1>학교 관리자 전화번호부</h1>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>전화번호</th>
                <th>문자 보내기</th>
            </tr>
        </thead>
        <tbody>
            {% for manager in managers %}
                <tr>
                    <td>{{ manager.school_number }}</td>  <!-- 학교 이름 표시 -->
                    <td>{{ manager.school_name }}</td>  <!-- 학교 이름 표시 -->
                    <td>{{ manager.phone_number }}</td>  <!-- 전화번호 표시 -->
                    <td>
                        <!-- 문자 보내기 버튼, /send_sms/ 경로로 POST 요청 -->
                        <form action="{% url 'sms' %}" method="post">
                            {% csrf_token %}  <!-- CSRF 토큰 포함 -->
                            <input type="hidden" name="entry_id" value="{{ manager.id }}">  <!-- 엔트리 ID 전달 -->
                            <button type="submit">문자 보내기</button>  <!-- 문자 보내기 버튼 -->
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>

    <h1>엔지니어 전화번호부</h1>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>전화번호</th>
                <th>소속 회사</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            {% for engineer in engineers %}
                <tr>
                    <td>{{ engineer.name }}</td>
                    <td>{{ engineer.phone_number }}</td>
                    <td>{{ engineer.company }}</td>
                    <td>{{ engineer.created_at|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
